* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #ff3c00, #31da99, #026183, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 30s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    background-color: #dddddd;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 2em 2em rgba(8, 21, 65, 0.25);
}

.search-wrapper {
    display: flex;
    justify-content: space-around;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}



.search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid rgb(155, 92, 92);
    outline: none;
    color: #222a43;
    font-weight: 600;
    background-color: #dddddd;
    width: 80%;
}

#result {
    margin-top: 1.25em;
}

.container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.container h1 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
    letter-spacing: 1px;
}

.container span {
    color: #5d6274;
    font-weight: 600;
}

.container h4 {
    text-align: center;
    display: inline;
    font-weight: 700;
    color: #222a43;
}

.container .coat-img {
    display: flex;
    flex-direction: row;
    width: 40%;
    min-width: 2.0em;
    margin: 1.0em auto 1.0em auto;
}

.container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}

.container h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

#search-btn {
    background-color: #dddddd;
    color: #000000;
   
    
}

#search-btn:hover {
    background-color: #dfdfdf;
    color: #000000;
    box-shadow: inset 0px -1px 3px 3px rgba(196, 196, 196, 0.5);
}

#coatSvg {
    /* display: none; */
}